.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
}

.new {
  width: 6.25%;
  height: 48px;
  color: white;
  background-color: black;
}

.selected {
    background-color: white;
}